

p{
    font-family: Arial, Helvetica, sans-serif;
}


.transformaTuCuerpo{
    font-size: 25pt;
    background-color:
}

.registrateYTransformaTuCuerpo{
    font-size: 20pt;
}

#container{
    display: grid;
    
}

